/**
 * Project1: CS75 Finance
 *
 * Computer Science E-75
 * Nelson Reitz
 *
 * http://github.com/nelsonreitz/project1
 */

/** Table of content
 * - General
 * - Header
 * - Lookup form
 * - Quote
 * - History
 * - Headlines
 * - Apology
 * - Footer
 */

/* General */

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    overflow-y: scroll;
    text-align: center;
    color: #444444;
}

h2 {
    font-size: 26px;
}

a {
    color: #444444;
    font-weight: 600;
    text-decoration: none;
}

a:hover {
    color: #444444;
}

input {
    border-radius: 1px !important;
}

/* Header */

.header {
    margin-top: 2em;
}

.site-title {
    text-transform: uppercase;
    font-size: 30px;
    margin-bottom: 1em;
}

.site-title a {
    color: black;
    font-weight: 400;
}

/* Lookup form */

#lookup-form {
    margin-bottom: 1em;
}

/* Quote */

.quote {
    margin-bottom: 1.5em;
    border-top: 1px solid lightgrey;
    padding-top: 3.5em;
}

.quote h2 {
    margin-bottom: 0;
}

/* History */

.history {
    margin-bottom: 5em;
}

#chart {
    margin-bottom: 1em;
}

#timerange {
    margin-bottom: 0;
}

#timerange input {
    /* width: 7em; */
}

#timerange input[clicked="true"] {
    background-color: #f7f7f7;
}

/* Headlines */

.headlines {
    border-top: 1px solid lightgrey;
    padding: 3em 15% 0 15%;
    text-align: left;
    font-size: 14px;
}

.headlines h2 {
    font-size: 30px;
}

.headlines ul {
    list-style: none;
}

.headlines a {
    font-weight: 600;
}

.headline-date {
    color: grey;
}

/* Apology */

.apology {
    padding-top: 2em;
    border-top: 1px solid lightgrey;
}

/* Footer */

.footer {
    color: grey;
    font-size: 11px;
    margin-bottom: 10em;
    margin-top: 50%;
    border-top: 1px solid lightgrey;
    padding-top: 3em;
}

.footer p {
    margin-bottom: 0;
}

.footer p:first-of-type {
    margin-bottom: 0.3em;
}

.footer a {
    font-weight: 600;
    color: grey;
}
