/**
 * Project1: CS75 Finance
 *
 * Computer Science E-75
 * Nelson Reitz
 *
 * http://github.com/nelsonreitz/project1
 */

/** Table of content
 * - General
 * - Header
 * - Lookup form
 * - Quote
 * - History
 * - Headlines
 * - Apology
 * - Footer
 */

/* General */

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    overflow-y: scroll;
    text-align: center;
    color: #444;
}

h2 {
    font-size: 26px;
}

a {
    color: #444;
    font-weight: 600;
    text-decoration: none;
}

a:hover {
    color: #444;
}

input {
    border-radius: 1px !important;
    position: relative;
}

input:hover, input:focus,
input:active {
    z-index: 2;
}

.container {
    max-width: 850px;
}

/* Header */

.header {
    margin-top: 2em;
}

.site-title {
    text-transform: uppercase;
    font-size: 30px;
    margin-bottom: 1em;
}

.site-title a {
    color: #000;
    font-weight: 400;
}

/* Lookup form */

#lookup-form {
    margin-bottom: 1em;
}

#lookup-form input[type=text] {
    margin-right: -5px;
}

#lookup-form input[type=text]:focus {
    border: 1px solid #888;
}

#lookup-form input[type=submit] {
    padding: 0 20px;
}

/* Quote */

.quote {
    margin-bottom: 1.5em;
    border-top: 1px solid #d1d1d1;
    padding-top: 3.5em;
}

.quote h2 {
    margin-bottom: 0;
    letter-spacing: 0.01em;
}

/* History */

.history {
    margin-bottom: 5em;
}

#chart {
    margin-bottom: 1em;
}

#timerange {
    margin-bottom: 0;
    margin-right: 3px; /* compensates for input negative margin */
}

#timerange input {
    width: 6.5em;
    padding: 0 20px;
    margin-right: -5px;
}

#timerange input[clicked="true"] {
    background-color: #f2f2f2;
}

/* Headlines */

.headlines {
    border-top: 1px solid #d1d1d1;
    padding: 3em 15% 0 15%;
    text-align: left;
    font-size: 14px;
}

.headlines h2 {
    font-size: 30px;
}

.headlines ul {
    list-style: none;
}

.headlines a {
    font-weight: 600;
}

.headline-date {
    color: #888;
}

/* Apology */

.apology {
    padding-top: 2em;
    border-top: 1px solid #d1d1d1;
}

/* Footer */

.footer {
    color: #888;
    font-size: 11px;
    margin-bottom: 10em;
    margin-top: 48%;
    border-top: 1px solid #d1d1d1;
    padding-top: 3em;
}

.footer p {
    margin-bottom: 0;
}

.footer p:first-of-type {
    margin-bottom: 0.3em;
}

.footer a {
    font-weight: 600;
    color: #888;
}
